*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Iceberg", sans-serif;
    color: white;
    background-color: black;
    
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100px;
    height: 100px;
}

video{
    height: 250px;
    width: 320px;
}

@keyframes colorChange{
    0%{ color: blue;}
    25%{ color: red;}
    50%{ color: yellow;}
    75%{ color: green;}
    100%{ color: white;}
}

/* styling the heading and links*/
header{
    width: 100vw;
    height: 100vh;
    /*background-color: #000;*/
    /*background-image: url(summer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slide.active {
    opacity: 1;
  }

header h1{
    font-size: 55px;
    margin: 0 0 0 20px;
    
}

.landing-display{
    display: none;
}

.heading{
   background-color: #ff8c00de;
   filter: opacity(0.9);
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1;
}

.heading h1{
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: 999;
}

.heading ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    margin: 23px 60px 0 0 ;
    font-size: 18px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    
    z-index: 999;
}

.heading a{
    color: #fff;
}

/* styling the dropdown menu for the contact button*/
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
	position: absolute;
    margin-left: -5rem;
    margin-top: rem;
	background-color: rgba(255, 165, 0, 0.5);
	min-width: 10rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content > a{
    color: #fff;
	padding: 1rem 1rem;
	text-decoration: none;
	display: block;
    font-weight: 100;
}

.dropdown-content > a:hover{
    background-color: #12100f;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.nav-hidden{
    display: none;
    margin: -25px 0 0 0;
}

.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    margin-left: 20px;
    background-color: #ffffff1e;
    backdrop-filter: blur(50px);
    box-shadow: -10px 0px 10px #000001;
    display: none;
   
}

.sidebar > ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    /**margin: 20px;**/
    background: none;

}

.sidebar > ul > li > svg{
    /**width: 50px;**/
    height: 80px;
    margin-left: 45px;
}

.sidebar  li{
    /**width: 100%;**/
    margin-left: 25px;
    color: #000;
}

.sidebar li:hover{
    background-color: #FF8C00;
}

.sidebar a{
    width: 100%;
    align-content: center;
    color: #000;
    font-size: 20px;
}

.heading{
    display: flex;
    justify-content: space-between;
}

/* styling the landing display text*/
.landing-display{
    text-align: center;
    font-size: 130px;
    position: absolute;
    left: 305px;
    color: black;
}

.color-change{
    animation: colorChange 10s infinite;
}

/* styling the preview button at the button of the header*/
.preview {
    position: absolute;
    top: 585px;
    left: 50px;
    display: flex;
    flex-direction: column;
}

.preview img{
    width: 36px;
    height: 36px;
    margin-left: 11px;
}

/** The about section **/
.about{
    background-color: #d9d9d9;
    width: 100vw;
    height: 110vh;
    color: #000000;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: -15px;
}

.sub-about-1{
    position: relative;
    top: 7rem;
    margin-left: 8rem;
}

.sub-about-1 > img{
    width: 35rem;
    height: 35rem;
}

.sub-about-2{
    position: relative;
    top: 9rem;
}

.sub-about-2-a > p{
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 100;
    font-family: "Inter", sans-serif;
}

.sub-about-2-b > p{
    font-size: 3rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.sub-about-2-b{
    background-color: #FF8C00;
    width: 10rem;
    height: 2rem;
}

.sub-about-2-c{
    width: 35rem;
    margin-top: 4rem;
}

.sub-about-2-c > p{
    font-size: 1.5rem;
    font-weight: 100;
    font-family: "Inter", sans-serif;
}

/*styling the offer section*/
.offers{
    width: 100vw;
    height: 100vh;
    /*background-image: url(summer3\ copy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    background-color: #2E2C2C;
    color: #000;
}

.offers h2{
    font-size: 23px;
    font-weight: 100;
    font-family: "Inter", serif;
    position: relative;
    top: 120px;
    left: 40px;
    color: #fff;
}

.offers h3{
    margin: 150px 0 0 40px;
    font-size: 60px;
    font-family: "Inter", serif;
    color: #FF8C00;
}

.offers p{
    width: 270px;
    font-size: 17px;
    font-family: "Inter", serif;
    color: gray;
    margin: 10px 0 0 0;
}

.arrow{
    margin: 5px 0 0 0 ;
}

.container-offer{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 0 0;
}

.container-offer h4{
    font-size: 27px;
    font-family: "Inter", serif;    
    color: #fff;
}

.offer-1{
    display: flex;
    gap: 20px;
}

.offer-1 video{
    width: 100px;
    height: 100px;
}

.offer-2{
    display: flex;
    gap: 20px;
}

.offer-2 video{
    width: 100px;
    height: 100px;
}

.offer-3{
    display: flex;
    gap: 20px;
}

.offer-3 video{
    width: 100px;
    height: 100px;
}


/* styling the product section */
.products{
    width: 100vw;
    background-color: #000;
    /*background-image: url(summer2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    color: white;
}

.products h2{
    font-size: 48px;
    margin: 0px 0px 0px 70px;
    position: relative;
    top: 80px;
    margin-bottom: 50px;
}

.products div{
    margin-top: 70px;
}

.products ul{
    list-style: none;
    margin-top: 20px;
}

#container-1 li{
    display: flex;
    flex-direction: column;
}

#container-1 i{
    margin: 20px 0 0 200px;
    font-size: 15px;
    transform: scaleX(1.5);
}

#container-1{
    position: relative;
    top: 35px;
}

#container-1 ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    margin: 6.5rem 3rem 3rem 5rem;
}

#container-1 img{
    width: 550px;
    height: 600px;
}

/*the section button*/
.products button{
    font-size: 30px;
    margin: 30px 0 10px 615px;
    background-color: #000;
    opacity: 20%;
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 160px;
    font-weight: bold;
    font-family: "Iceberg", sans-serif;
}

.products button:hover{
    cursor: pointer;
}

/** the thrid section (the collaboration panel) **/
.collaborate{
    background-color: #12100f;
    width: 100vw;
    height: 100vh;
    color: white;
}

.collaborate > h3{
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 7rem;
    font-weight: 100;
}

.collaborate > h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 8rem;
    font-weight: 100;
}

.collaborate > button{
    margin-left: 34rem;
    margin-top: 7rem;
    text-align: center;
    align-content: center;
    background-color: #b7b3b3;
    height: 3rem;
    width: 15rem;
}

.collaborate button:hover{
    background-color: #000;
    color: #fff;
}

/*footer*/
footer{
    margin: 0px 0 0px 0;
    height: 130px;
    /*background-color: #006994;*/
    /*background-color: #d9d9d9;*/
    background-color: #12100f;
    width: 100vw;
}

.nav-icons img{
    width: 30px;
    height: 30px;
}

.nav-icons ul{
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: center;
    position: relative;
    top: 55px;
}

footer p{
    text-align: center;
    margin: 60px 0 0 0;
}

/*Responsive interface*/
@media  (max-width: 600px) {
    /*The header section*/
    header{
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .heading{
        height: 50px;
        width: 400px;
        position: fixed;
        top: 0;
    }

    .heading h1{
        font-size: 30px;
        margin: auto 0px auto 12px;
    }

    .nav-hidden{
        display: flex;
    }

    .heading a{
        display: none;
    }

    .heading svg{
        fill: #fff  ;
    }

    .sidebar a{
        display: flex;
    }

    .landing-display{
        display: block;
        position: absolute;
        left: 0px;
    }

    .landing-display video{
        height: 270px;
        width: 100%;
    }

    .preview{
        display: none;
    }

    /** section-1 (about) **/
    .about{
        background-color: #d9d9d9;
        color: #000000;
        display: inline-block;
        width: 400px;
        height: 67rem;
    }

    .sub-about-1 > img{
        width: 350px;
        height: 350px;
    }

    .sub-about-1{
        margin-left: 10px;
        margin-top: -50px;
    }

    .sub-about-2-a,.sub-about-2-b{
        margin-left: 60px;
    }
    
    .sub-about-2-a > p{
        margin-left: 35px;
        font-size: 38px;
        font-weight: 100;
        font-family: "Inter", sans-serif;
    }
    
    .sub-about-2-b > p{
        font-size: 38px;
        font-weight: bold;
        font-family: "Inter", sans-serif;
    }
    
    .sub-about-2-b{
        background-color: #FF8C00;
        width: 140px;
        height: 28px;
    }
    
    .sub-about-2-c{
        width: 350px;
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .sub-about-2-c > p{
        font-size: 24px;
        font-weight: 100;
        font-family: "Inter", sans-serif;
    }

    /*The first section*/
    .offers{
        height: 200vh;
    }

    .offers h2{
        font-size: 30px;
        position: relative;
        top: 60px;
        left: 10px;
    }

    .container-offer{
        display: inline;
    }

    .offers h3{
        font-size: 35px;
        position: relative;
        top: -60px;
        left: 17px;
    }

    .offer-1{
        display: inline;
        position: relative;
        left: 30px;
        top: -18px;
    }

    .offer-1 video{
        position: relative;
        left: 100px;
    }

    .offer-1 h4{
        position: relative;
        left: 70px;
    }

    .offer-1 p{
        font-size: 20px;
        position: relative;
        left: 30px;
    }

    .offer-2{
        display: inline;
        position: relative;
        left: 30px;
    }

    .offer-2 video{
        position: relative;
        left: 100px;
    }

    .offer-2 h4{
        position: relative;
        left: 70px;
    }

    .offer-2 p{
        font-size: 20px;
        position: relative;
        left: 30px;
    }

    .offer-3{
        display: inline;
        position: relative;
        left: 30px;
        top: 10px;
    }

    .offer-3 video{
        position: relative;
        left: 100px;
    }

    .offer-3 h4{
        position: relative;
        left: 105px;
    }

    .offer-3  p{
        font-size: 20px;
        position: relative;
        left: 30px;
    }

    /*the second section*/
    .products{
        height: 305vh
    }

    .products h2{
        position: relative;
        top: 80px;
        left: 5px;
        margin-bottom: 25px;
    }

    #container-1 ul{
        display: flex;
        flex-direction: column;
        position: relative;
        left: -47px;
    }

    #container-1 img{
        width: 300px;
        height: 300px;
    }

    #container-1 i{
        margin-left: 30px;
    }

    /*the collaboration panel*/
    .collaborate button{
        position: relative;
        left: -478px;
    }

    .nav-icons{
        position: relative;
        left: -7px;
    }

    footer p{
        position: relative;
        left: -5px;
    }
}